{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ">10%"
        }
      }
    ]
  ]
}

// Babel ens permet transpilar el nostre codi perquè funcioni en navegadors antics.
// A targets podem especificar quins navegadors volem que siguin compatibles amb el nostre codi. 
// Ho seran com a mínim els navegadors que tinguin una quota de mercat superior al 10%. Bàsicament, els navegadors més moderns.
// "@babel/preset-env" és un conjunt de plugins de Babel que ens permeten transpilar el nostre codi perquè funcioni en navegadors antics.